@inherits RazorEngineCore.RazorEngineTemplateBase<CodeGeneration.Models.PersonModel>;

<h1>Output of Person Razor Template</h1>
<h2>User Details</h2>
<h3>FullName: @UpperCaseNames(Model.FullName)</h3>
<h3>Company: @Model.Company</h3>
<h3>Skills:</h3>
<ul>
    @foreach (var skill in @Model.Skills)
    {
        <li>@skill</li>
    }
</ul>
<h5>Sample C# Generated Code</h5>

<pre>
  <code>
    public class PersonModel
    {
        public string FullName { get; set;  }
        public string EmailAddress { get; set;  }
        public string[] Skills { get; set;  }
        public string Company { get; set; }
    }
  </code>
</pre>


@{
    string UpperCaseNames(string name)
    {
        return name.ToUpper();

    }
}