<h1>Output of Person Mustache Template</h1>
<h2>User Details</h2>
<h3>FullName: {{FullName}}</h3>
<h3>Company: {{Company}}</h3>
<h3>Skills:</h3>
<ul>
{{#Skills}}
    <li> {{.}} </li>
{{/Skills}}
</ul>
<h5>Sample C# Generated Code</h5>
<pre>
  <code>
    public class PersonModel
    {
        public string FullName { get; set;  }
        public string EmailAddress { get; set;  }
        public string[] Skills { get; set;  }
        public string Company { get; set; }
    }
  </code>
</pre>
